In [27]:
import pandas as pd

---

## State / County Data

### Cal Recycle

- This page displays estimated residential disposed waste composition by material type and stream for the specified California jurisdiction (county). Single family tons and multifamily tons add to give total residential tons. Percents show the proportion each material contributes to each stream.
- Source: https://www2.calrecycle.ca.gov/WasteCharacterization/ResidentialStreams

In [28]:
alameda_waste = pd.read_csv('../data/calrecycle-alameda-waste-material.csv')
alameda_waste.head(5)

,Material Category,Material Type,Jurisdiction(s),Single Family Tons,Regional Single Family Composition,Multi Family Tons,Statewide Multi Family Composition,Total Residential Tons,Total Residential Composition,Unnamed: 9
0,Paper,Uncoated Corrugated Cardboard,Alameda (Countywide),1917,0.7%,4231,3.6%,6147,1.5%,NaN
1,Paper,Paper Bags,Alameda (Countywide),898,0.3%,625,0.5%,1523,0.4%,NaN
2,Paper,Newspaper,Alameda (Countywide),2078,0.7%,5506,4.6%,7583,1.9%,NaN
3,Paper,White Ledger Paper,Alameda (Countywide),531,0.2%,627,0.5%,1158,0.3%,NaN
4,Paper,Other Office Paper,Alameda (Countywide),1368,0.5%,698,0.6%,2067,0.5%,NaN

In [38]:
alameda_waste.describe()

,Single Family Tons,Multi Family Tons,Total Residential Tons,Unnamed: 9
count,68.000000,68.000000,68.000000,0.0
mean,4214.235294,1743.808824,5958.044118,NaN
std,11018.468002,3968.001412,14837.659662,NaN
min,0.000000,0.000000,0.000000,NaN
25%,294.250000,100.750000,533.000000,NaN
50%,1045.500000,621.500000,1820.000000,NaN
75%,2485.250000,1305.000000,3838.000000,NaN
max,79627.000000,29374.000000,109001.000000,NaN

- The Solid Waste Information System (SWIS) database contains information on solid waste facilities, operations, and disposal sites in California.  Includes Latitude, Longitude and waste type processed
- Source: https://www2.calrecycle.ca.gov/SolidWaste/Site/Search

In [37]:
cal_waste_facilities = pd.read_csv('../data/calrecycle-waste-facilities.csv')
cal_waste_facilities.head(3)

,SWIS Number,Site Name,Activity,Waste Type,Site Is Archived,Site Operational Status,Site Regulatory Status,Site Type,Latitude,Longitude,Point of Contact,Activity Is Archived,Activity Operational Status,Activity Regulatory Status,Activity Category,Activity Classification
0,27-AA-0114,"Return to Earth, LLC",Agricultural Material Composting Operation,Agricultural,Yes,Closed,Surrendered,Non-Disposal Only,36.63163,-121.54770,Eric Kiruja,Yes,Closed,Surrendered,Composting,Solid Waste Operation
1,27-AA-0114,"Return to Earth, LLC",Agricultural Material Composting Operation,Green Materials,Yes,Closed,Surrendered,Non-Disposal Only,36.63163,-121.54770,Eric Kiruja,Yes,Closed,Surrendered,Composting,Solid Waste Operation
2,15-AA-0392,Demler Enterprises-Delano,Agricultural Material Composting Operation,Manure,No,Active,Notification,Non-Disposal Only,35.75880,-119.33784,Christine Karl,No,Active,Notification,Composting,Solid Waste Operation

---

## National Data

### EIA energy consumption

- Residential Energy consumption 
    - Totals and averages for each major end use: space heating, water heating, air-conditioning, refrigerators, and other (other appliances, electronics, and lighting)
    - Grouped by different categories like large census region, climate, housing type, etc.

- Source: https://www.eia.gov/consumption/residential/data/2015/index.php?view=consumption#by%20end%20uses'
- Downlads as an excel file that has some indentation in the index column such that it downloading it directly as a csv messes up the organization.  The rows that have no observations just separate the different cateogires

In [31]:
us_region_energy_usage = pd.read_csv('../data/eia-residential-energy-consumption.csv',index_col=0)
us_region_energy_usage.head(10)

,Total U.S.2 (Number of housing units (million)),Total Average energy expenditures \n(dollars per household using the end use),Space heating3,Water heating,Air condi-tioning,Refrig-erators,Other4
All homes,118.2,"1,856",543,296,265,103,714
Census region and division,,,,,,,
Northeast,21,"2,269",850,335,174,120,834
New England,5.6,"2,541","1,046",379,127,124,926
Middle Atlantic,15.4,"2,169",779,318,188,118,800
Midwest,26.4,"1,760",604,246,148,99,681
East North Central,18.1,"1,762",612,247,140,101,676
West North Central,8.3,"1,757",587,243,166,96,691
South,44.4,"1,917",465,323,392,93,694
South Atlantic,23.5,"1,963",488,344,386,95,714

In [40]:
us_region_energy_usage.iloc[17:33]

,Total U.S.2 (Number of housing units (million)),Total Average energy expenditures \n(dollars per household using the end use),Space heating3,Water heating,Air condi-tioning,Refrig-erators,Other4
Census urban/rural classification5,,,,,,,
Urban,94.7,"1,773",495,274,269,102,694
Urbanized area,82.2,"1,782",488,272,279,104,705
Urban cluster,12.5,"1,710",540,286,202,92,625
Rural,23.5,"2,190",737,382,253,105,791
Metropolitan or micropolitan statistical area,,,,,,,
In metropolitan statistical area,98.5,"1,840",520,287,274,105,723
In micropolitan statistical area,12.3,"1,861",626,325,195,91,657
Not in metropolitan or micropolitan statistical area,7.4,"2,050",714,368,270,96,688
Climate region6,,,,,,,
Very cold/Cold,42.5,"1,874",676,274,120,102,730
Mixed-humid,33.5,"2,086",655,345,262,102,746
Mixed-dry/Hot-dry,12.7,"1,484",221,240,319,117,692
Hot-humid,22.8,"1,800",299,290,525,96,661
Marine,6.7,"1,479",392,311,60,109,666
Housing unit type,,,,,,,

### [todo]  BLS demographic information, Census data

...

---
## Global Data

### World Bank

- Source: https://datacatalog.worldbank.org/dataset/what-waste-global-database

- Global data on 336 cities. The metrics included cover all steps from the waste management value chain, including waste generation, composition, collection, and disposal, as well as information on user fees and financing, the informal sector, administrative structures, public communication, and legal information.

In [21]:
world_bank_city_data = pd.read_csv('../data/worldbank-city-level-data.csv')
world_bank_city_data.sample(5) #  a lot of nans

,iso3c,region_id,country_name,income_id,city_name,additional_data_annual_budget_for_waste_management_year,additional_data_annual_solid_waste_budget_year,additional_data_annual_swm_budget_2017_year,additional_data_annual_swm_budget_year,additional_data_annual_waste_budget_year,...,waste_treatment_compost_percent,waste_treatment_controlled_landfill_percent,waste_treatment_incineration_percent,waste_treatment_landfill_unspecified_percent,waste_treatment_open_dump_percent,waste_treatment_other_percent,waste_treatment_recycling_percent,waste_treatment_sanitary_landfill_landfill_gas_system_percent,waste_treatment_unaccounted_for_percent,waste_treatment_waterways_marine_percent
298,RUS,ECS,Russian Federation,UMC,Kemerovo,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,98.1,NaN,1.90,NaN,NaN,NaN
275,PAK,SAS,Pakistan,LMC,Lahore,NaN,NaN,NaN,NaN,NaN,...,NaN,61.53,6.15,NaN,NaN,NaN,NaN,32.31,0.01,NaN
70,CRI,LCN,Costa Rica,UMC,San JosÃ©,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.38,5.20,94.42,NaN,NaN
326,TUN,MEA,Tunisia,LMC,Sfax,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.00,98.00,NaN,NaN
74,CYP,ECS,Cyprus,HIC,Nicosia,NaN,NaN,NaN,NaN,NaN,...,2.87,NaN,NaN,87.23,NaN,NaN,9.89,NaN,0.01,NaN

In [24]:
world_bank_city_data.shape

(367, 113)

In [18]:
world_bank_city_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Columns: 113 entries, iso3c to waste_treatment_waterways_marine_percent
dtypes: float64(70), object(43)
memory usage: 324.1+ KB

In [14]:
city_data.describe()

,additional_data_annual_swm_budget_2017_year,additional_data_annual_swm_budget_year,additional_data_annual_waste_budget_year,additional_data_collection_ton,additional_data_number_of_scavengers_on_dumpsites_number,additional_data_total_annual_costs_to_collect_and_dispose_of_city_s_waste_year,additional_data_total_swm_expenditures_year,additional_data_total_waste_management_budget_year,composition_food_organic_waste_percent,composition_glass_percent,...,waste_treatment_compost_percent,waste_treatment_controlled_landfill_percent,waste_treatment_incineration_percent,waste_treatment_landfill_unspecified_percent,waste_treatment_open_dump_percent,waste_treatment_other_percent,waste_treatment_recycling_percent,waste_treatment_sanitary_landfill_landfill_gas_system_percent,waste_treatment_unaccounted_for_percent,waste_treatment_waterways_marine_percent
count,1.0,2.000000e+00,1.0,1.00,1.0,1.0,1.0,1.0,291.000000,269.000000,...,67.000000,60.000000,29.000000,16.000000,100.000000,48.000000,128.000000,56.000000,121.000000,4.000000
mean,1030281.0,2.599229e+06,4035882.0,0.73,200.0,5900000.0,36424.0,475000.0,45.424727,4.058437,...,19.352687,46.004000,42.091724,57.646875,66.203200,21.750771,15.599063,66.106607,32.496331,20.775000
std,NaN,3.506159e+06,NaN,NaN,NaN,NaN,NaN,NaN,18.321482,3.959363,...,20.207610,30.798648,29.848297,35.336363,33.515912,21.412265,15.488925,31.469398,30.609756,14.125715
min,1030281.0,1.200000e+05,4035882.0,0.73,200.0,5900000.0,36424.0,475000.0,0.930000,0.000000,...,0.000000,0.000000,0.230000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000
25%,1030281.0,1.359614e+06,4035882.0,0.73,200.0,5900000.0,36424.0,475000.0,34.200000,1.500000,...,2.785000,20.000000,10.000000,23.750000,40.475000,5.750000,4.807500,42.025000,5.000000,11.000000
50%,1030281.0,2.599229e+06,4035882.0,0.73,200.0,5900000.0,36424.0,475000.0,47.900000,3.000000,...,14.000000,48.700000,41.020000,70.050000,74.500000,14.710000,10.000000,78.050000,25.500000,21.550000
75%,1030281.0,3.838844e+06,4035882.0,0.73,200.0,5900000.0,36424.0,475000.0,57.350000,5.000000,...,28.500000,67.025000,71.100000,87.707500,100.000000,36.182500,21.000000,90.500000,56.000000,31.325000
max,1030281.0,5.078458e+06,4035882.0,0.73,200.0,5900000.0,36424.0,475000.0,88.800000,32.580000,...,82.000000,100.000000,90.330000,100.000000,100.000000,87.560000,72.000000,100.000000,99.850000,35.000000

### OECD (Organisation for Economic Co-operation and Development)

#### Municipal Waste Generation and Treatment by Country and Year 

- Source: https://stats.oecd.org/Index.aspx?DataSetCode=MUNW

In [20]:
oecd_municipal_waste = pd.read_csv('../data/oecd-waste-municipal.csv')
oecd_municipal_waste.head(5)

,COU,Country,VAR,Variable,YEA,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,MUNICIPAL,Municipal waste generated,1992,1992,TONNE,Tonnes,3,Thousands,NaN,NaN,12000.0,E,Estimated value
1,AUS,Australia,MUNICIPAL,Municipal waste generated,2000,2000,TONNE,Tonnes,3,Thousands,NaN,NaN,13200.0,E,Estimated value
2,AUS,Australia,MUNICIPAL,Municipal waste generated,2007,2007,TONNE,Tonnes,3,Thousands,NaN,NaN,12873.0,NaN,NaN
3,AUS,Australia,MUNICIPAL,Municipal waste generated,2008,2008,TONNE,Tonnes,3,Thousands,NaN,NaN,13096.5,NaN,NaN
4,AUS,Australia,MUNICIPAL,Municipal waste generated,2009,2009,TONNE,Tonnes,3,Thousands,NaN,NaN,13320.0,NaN,NaN

In [23]:
oecd_municipal_waste.shape

(20779, 15)

In [22]:
oecd_municipal_waste.Country.unique()

array(['Australia', 'Austria', 'Belgium', 'Canada', 'Czech Republic',
       'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Hungary',
       'Iceland', 'Ireland', 'Italy', 'Japan', 'Korea', 'Luxembourg',
       'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland',
       'Portugal', 'Slovak Republic', 'Spain', 'Sweden', 'Switzerland',
       'Turkey', 'United Kingdom', 'United States', 'Brazil', 'Chile',
       "China (People's Republic of)", 'Estonia', 'Indonesia', 'Israel',
       'Russia', 'Slovenia', 'OECD - Total', 'OECD - Europe', 'Colombia',
       'Latvia', 'Costa Rica', 'India', 'Lithuania', 'OECD Asia Oceania',
       'OECD America'], dtype=object)

#### Waste Generation by Sector. 

- Gives the waste generated by each industry and in which country. 
- Source: https://stats.oecd.org/Index.aspx?DataSetCode=MUNW

In [26]:
oecd_sector_waste = pd.read_csv('../data/oecd-waste-sector.csv')
oecd_sector_waste.head(5)

,COU,Country,ISIC,Variable,YEA,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,10-33,Manufacturing industries: Total,2009,2009,TONNE,Tonnes,3,Thousands,NaN,NaN,13116.0,NaN,NaN
1,AUS,Australia,10-33,Manufacturing industries: Total,2011,2011,TONNE,Tonnes,3,Thousands,NaN,NaN,3858.2,NaN,NaN
2,AUS,Australia,10-12,Manufacture of food products; beverages and to...,2011,2011,TONNE,Tonnes,3,Thousands,NaN,NaN,920.0,NaN,NaN
3,AUS,Australia,13-15,"Manufacture of textiles, wearing apparel, leat...",2011,2011,TONNE,Tonnes,3,Thousands,NaN,NaN,171.9,NaN,NaN
4,AUS,Australia,16,Manufacture of wood and of products of wood an...,2011,2011,TONNE,Tonnes,3,Thousands,NaN,NaN,164.3,NaN,NaN